*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
figure{
    background-color: grey;
    border-radius: 15px;
    width: 100%;
    min-height: 450px;
    margin: 0 auto;
    border: black 2px double;
}
img{
    width: 100%;
}
h2{
    background-color: green;
    padding: 1rem;
    border-radius: 5px;
    width: 40%;
    position: relative;
    margin: 0 auto;
    top: 30px;
    border: black 2px double;
}
p{
    background-color: orange;
    padding: 1.2rem;
    margin: 0 auto;
    width: 55%;
    border-radius: 5px;
    position: relative;
    top: -20px;
    text-align: left;
    border: black 2px double;
}