*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5;
}
body{
    font-size: 1.6rem;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
.logo img{
    width: 100vw;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li, a{
    text-decoration: none;
    color: white;
    padding: 0 .5rem;
}
.main{
    background-color: cyan;
}
.section{
    width: 100%;
    text-align: center;
    padding: 15px;
}
.section img{
    width: 60%;
}
.footer{
    background-color: green;
}
.footer div,a{
    display: flex;
    justify-content: center;
}